<center><h1> Eat those burgers</h1></center>

<center><h2>Order any type of burger</h2></center>
<center><img src="assets\image\burgers.jpeg" class="center" style="height:275px;width:275px;margin:auto"></center>


<div class="container">
    <div class="row burgersArea" style="text-align:center">
        <div class="col1" style="float:left; width:50%;">

            {{#each burgers}} {{#unless devoured}}
            <section>
                {{!--
                <p>{{this.id}}. Burger: {{this.burger_name}} --}} {{!--
                    <form action="/burgers/{{this.id}}?_method=PUT" method="POST">
                        --}} {{!-- <button id="devourBtn" data-id="{{id}}" data-devoured="{{devoured}}" type="submit">Devour
                            It!</button>
                        --}} {{> burgers/burger devoured=true}} {{!-- </form> --}}

                {{!-- </p> --}}

            </section>
            {{/unless}} {{/each}}
        </div>




        <div class="col2" style="float:right; width:50%;">

            {{#each burgers}} {{#if devoured}}
            <section>
                {{> burgers/burger devoured=false}} {{!--
                <p>Id: {{this.id}}</p> --}} {{!--
                <p>Burger: {{this.burger_name}}</p> --}}

            </section>
            {{/if}} {{/each}}
        </div>
    </div>

    <div class="col12" style="text-align:center" style="position:fixed">
        <form class="create-form">
            <label for="burg">Add Burger Below</label>
            <br>
            <input type="text" id="burgerText" name="burger_name"></input>
            <br>
            <button type="submit" id="submitBtn">Submit</button>
        </form>
    </div>
</div>
